<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?" />
            <deny roles="Operator" />
            <deny roles="Organization" />
            <deny roles="Supervisor" />
            <deny roles="Administrator" />
            <allow roles="Mayor" />
        </authorization>
    </system.web>
</configuration>